In [38]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [39]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [40]:
movies = pd.read_csv('Movie+Assignment+Data.csv')
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [41]:
# Write your code for inspection here
movies.shape

(5043, 28)

In [42]:
len(movies.index)

5043

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [43]:
# Write your code for column-wise null count here
movies.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [44]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
5013     2
5014     2
5015     0
5016     5
5017     2
5018     2
5019     2
5020     5
5021     1
5022     4
5023     2
5024     1
5025     0
5026     0
5027     0
5028     3
5029     1
5030     5
5031     3
5032     4
5033     0
5034     1
5035     0
5036     3
5037     1
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [45]:
# Write your code for column-wise null percentages here
100*(movies.isnull().sum()/len(movies.index)).round(2)

color                         0.0
director_name                 2.0
num_critic_for_reviews        1.0
duration                      0.0
director_facebook_likes       2.0
actor_3_facebook_likes        0.0
actor_2_name                  0.0
actor_1_facebook_likes        0.0
gross                        18.0
genres                        0.0
actor_1_name                  0.0
movie_title                   0.0
num_voted_users               0.0
cast_total_facebook_likes     0.0
actor_3_name                  0.0
facenumber_in_poster          0.0
plot_keywords                 3.0
movie_imdb_link               0.0
num_user_for_reviews          0.0
language                      0.0
country                       0.0
content_rating                6.0
budget                       10.0
title_year                    2.0
actor_2_facebook_likes        0.0
imdb_score                    0.0
aspect_ratio                  7.0
movie_facebook_likes          0.0
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [46]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies.drop([  'color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name','cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords'],axis=1,inplace=True)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,NaN,NaN,7.1,0

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [47]:
# Write your code for dropping the rows here
movies.dropna(subset=['gross','title_year','budget'],inplace=True)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000

In [48]:
100*(movies.isnull().sum()/len(movies.index)).round(2)

director_name             0.0
num_critic_for_reviews    0.0
gross                     0.0
genres                    0.0
actor_1_name              0.0
movie_title               0.0
num_voted_users           0.0
num_user_for_reviews      0.0
language                  0.0
budget                    0.0
title_year                0.0
imdb_score                0.0
movie_facebook_likes      0.0
dtype: float64

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [49]:
# Write your code for dropping the rows here
movies.dropna(thresh=5,inplace=True)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000

In [50]:
100*(movies.isnull().sum()/len(movies.index)).round(2)

director_name             0.0
num_critic_for_reviews    0.0
gross                     0.0
genres                    0.0
actor_1_name              0.0
movie_title               0.0
num_voted_users           0.0
num_user_for_reviews      0.0
language                  0.0
budget                    0.0
title_year                0.0
imdb_score                0.0
movie_facebook_likes      0.0
dtype: float64

In [51]:
movies.shape

(3891, 13)

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [15]:
# Write your code for filling the NaN values in the 'language' column here
movies['language']=movies['language'].replace('None','English')
movies['language'].value_counts()

English       3708
French          37
Spanish         26
Mandarin        15
German          13
Japanese        12
Hindi           10
Cantonese        8
Italian          7
Korean           5
Portuguese       5
Norwegian        4
Danish           3
Dutch            3
Hebrew           3
Persian          3
Thai             3
Aboriginal       2
Indonesian       2
Dari             2
Hungarian        1
Telugu           1
Dzongkha         1
Zulu             1
Romanian         1
Mongolian        1
Swedish          1
Maya             1
Kazakh           1
Vietnamese       1
Arabic           1
Czech            1
Aramaic          1
Icelandic        1
Russian          1
Bosnian          1
Filipino         1
Name: language, dtype: int64

In [55]:
movies['language']=movies['language'].apply(lambda x: 'English' if x=='None' else x)
movies['language'].value_counts()

English       3708
French          37
Spanish         26
Mandarin        15
German          13
Japanese        12
Hindi           10
Cantonese        8
Italian          7
Korean           5
Portuguese       5
Norwegian        4
Danish           3
Dutch            3
Hebrew           3
Persian          3
Thai             3
Aboriginal       2
Indonesian       2
Dari             2
Hungarian        1
Telugu           1
Dzongkha         1
Zulu             1
Romanian         1
Mongolian        1
Swedish          1
Maya             1
Kazakh           1
Vietnamese       1
Arabic           1
Czech            1
Aramaic          1
Icelandic        1
Russian          1
Bosnian          1
Filipino         1
Name: language, dtype: int64

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [56]:
# Write your code for checking number of retained rows here
movies.shape

(3891, 13)

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [17]:
# Write your code for unit conversion here
movies['budget']=(movies['budget']/1000000).round(2)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.7,2012.0,6.6,24000

In [58]:
# Write your code for unit conversion here
movies['budget']=movies['budget'].apply(lambda x: x/1000000)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.7,2012.0,6.6,24000

In [59]:
# Write your code for unit conversion here
movies['gross']=(movies['gross']/1000000).round(2)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309.40,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0
2,Sam Mendes,602.0,200.07,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448.13,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73.06,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.7,2012.0,6.6,24000

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [60]:
# Write your code for creating the profit column here
movies['Profit']=movies['gross']-movies['budget']
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.51
1,Gore Verbinski,302.0,309.40,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300.0,2007.0,7.1,0,9.40
2,Sam Mendes,602.0,200.07,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245.0,2015.0,6.8,85000,-44.93
3,Christopher Nolan,813.0,448.13,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250.0,2012.0,8.5,164000,198.13
5,Andrew Stanton,462.0,73.06,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263.7,2012.0,6.6,24000,-190.64

In [61]:
# Write your code for sorting the dataframe here
movies.sort_values(by='Profit',ascending=False,inplace=True)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.51
29,Colin Trevorrow,644.0,652.18,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.18
26,James Cameron,315.0,658.67,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.67
3024,George Lucas,282.0,460.94,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.94
3080,Steven Spielberg,215.0,434.95,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.45

In [64]:
# Write your code to get the top 10 profiting movies here
#top10 =movies.head(10)
top10=movies.iloc[0:10]
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.51
29,Colin Trevorrow,644.0,652.18,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.18
26,James Cameron,315.0,658.67,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.67
3024,George Lucas,282.0,460.94,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.94
3080,Steven Spielberg,215.0,434.95,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.45
794,Joss Whedon,703.0,623.28,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.28
17,Joss Whedon,703.0,623.28,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.28
509,Roger Allers,186.0,422.78,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.78
240,George Lucas,320.0,474.54,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.54
66,Christopher Nolan,645.0,533.32,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.32

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [65]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(subset='movie_title',inplace=True)
movies.shape

(3789, 14)

In [66]:
# Write code for repeating subtask 2 here
movies['Profit']=movies['gross']-movies['budget']
movies.sort_values(by='Profit',ascending=False,inplace=True)
top10 =movies.head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.51
29,Colin Trevorrow,644.0,652.18,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.18
26,James Cameron,315.0,658.67,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.67
3024,George Lucas,282.0,460.94,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.94
3080,Steven Spielberg,215.0,434.95,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.45
794,Joss Whedon,703.0,623.28,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.28
509,Roger Allers,186.0,422.78,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.78
240,George Lucas,320.0,474.54,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.54
66,Christopher Nolan,645.0,533.32,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.32
439,Gary Ross,673.0,408.00,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,The Hunger Games,701607,1959.0,English,78.0,2012.0,7.3,140000,330.00

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [69]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
imdb=movies[movies.num_voted_users>25000]
imdb['Rank']=imdb['imdb_score'].rank(ascending=0)
IMDb_Top_250=imdb.sort_values(by='Rank').head(250)
IMDb_Top_250.head(10)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,Rank
1937,Frank Darabont,199.0,28.34,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25.0,1994.0,9.3,108000,3.34,1.0
3466,Francis Ford Coppola,208.0,134.82,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6.0,1972.0,9.2,43000,128.82,2.0
2837,Francis Ford Coppola,149.0,57.30,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13.0,1974.0,9.0,14000,44.30,3.5
66,Christopher Nolan,645.0,533.32,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.32,3.5
1874,Steven Spielberg,174.0,96.07,Biography|Drama|History,Liam Neeson,Schindler's List,865020,1273.0,English,22.0,1993.0,8.9,41000,74.07,6.5
3355,Quentin Tarantino,215.0,107.93,Crime|Drama,Bruce Willis,Pulp Fiction,1324680,2195.0,English,8.0,1994.0,8.9,45000,99.93,6.5
339,Peter Jackson,328.0,377.02,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,English,94.0,2003.0,8.9,16000,283.02,6.5
4498,Sergio Leone,181.0,6.10,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.2,1966.0,8.9,20000,4.90,6.5
270,Peter Jackson,297.0,313.84,Action|Adventure|Drama|Fantasy,Christopher Lee,The Lord of the Rings: The Fellowship of the R...,1238746,5060.0,English,93.0,2001.0,8.8,21000,220.84,11.0
683,David Fincher,315.0,37.02,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.98,11.0

In [72]:
# Write your code to extract top foreign language films from 'IMDb_Top_250' here
Top_Foreign_Lang_Film = IMDb_Top_250.loc[IMDb_Top_250['language']!='English',['movie_title']]
Top_Foreign_Lang_Film

                              movie_title
4498      The Good, the Bad and the UglyÂ
4747                       Seven SamuraiÂ
4029                         City of GodÂ
2373                       Spirited AwayÂ
4259                 The Lives of OthersÂ
4921                  Children of HeavenÂ
1298                              AmÃ©lieÂ
4105                              OldboyÂ
1329            Baahubali: The BeginningÂ
2970                            Das BootÂ
2323                   Princess MononokeÂ
4659                        A SeparationÂ
2829                            DownfallÂ
2734                          MetropolisÂ
4033                            The HuntÂ
4000            The Secret in Their EyesÂ
3550                           IncendiesÂ
2551                     Pan's LabyrinthÂ
2047                Howl's Moving CastleÂ
4267                       Amores PerrosÂ
4461                     The CelebrationÂ
2830                      The Sea InsideÂ
2914  Tae Guk Gi: The Brotherhood of WarÂ
3553                         Elite SquadÂ
3423                               AkiraÂ
4144                     Central StationÂ
4897                A Fistful of DollarsÂ
3344                     My Name Is KhanÂ
3456                          PersepolisÂ
4284                   Waltz with BashirÂ
2493                                HeroÂ
3677                          The ChorusÂ
3264                               AmourÂ
2605      Crouching Tiger, Hidden DragonÂ
4640        4 Months, 3 Weeks and 2 DaysÂ
4415                         Nine QueensÂ
2863               Letters from Iwo JimaÂ
3510                          Veer-ZaaraÂ

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [77]:
# Write your code for extracting the top 10 directors here
top_10_directors=movies.groupby(['director_name']).mean().sort_values(by='imdb_score',ascending=False).reset_index()
top_10_directors.loc[top_10_directors['director_name']==top_10_directors['director_name'],['director_name']]

              director_name
0           Charles Chaplin
1                 Tony Kaye
2              Majid Majidi
3           Damien Chazelle
4          Alfred Hitchcock
5                Ron Fricke
6              Sergio Leone
7         Christopher Nolan
8            Asghar Farhadi
9     Marius A. Markevicius
10         Richard Marquand
11           S.S. Rajamouli
12               Fritz Lang
13         Lenny Abrahamson
14             Billy Wilder
15              Lee Unkrich
16              Pete Docter
17           Hayao Miyazaki
18          George Roy Hill
19               Elia Kazan
20       Joshua Oppenheimer
21        Quentin Tarantino
22     Juan JosÃ© Campanella
23           Victor Fleming
24             Milos Forman
25             Terry George
26               Tim Miller
27           Akira Kurosawa
28              Je-kyu Kang
29            David Sington
...                     ...
1723      Robert Marcarelli
1724           Harold Cronk
1725            Troy Miller
1726              Tom Brady
1727             Bob Spiers
1728            Alan Metter
1729            Gary Rogers
1730       Don Michael Paul
1731                  Pitof
1732    Perry Andelin Blake
1733           Klaus Menzel
1734           Arjun Sablok
1735     Christopher Leitch
1736  Charles Robert Carner
1737           Trent Cooper
1738          Vic Armstrong
1739               Uwe Boll
1740          Nnegest LikkÃ©
1741            Jim Goddard
1742            Fred Savage
1743        Kenneth Johnson
1744            Steve Gomer
1745         Dave Borthwick
1746         Joseph Sargent
1747       Rick de Oliveira
1748          Aaron Seltzer
1749        Jason Friedberg
1750        Roger Christian
1751              Alex Zamm
1752     Vondie Curtis-Hall

[1753 rows x 1 columns]

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [27]:
# Write your code for extracting the first two genres of each movie here
movies['genres_1']=movies['genres'].str.split('|').str[0]
movies['genres_2']=movies['genres'].str.split('|').str[1]
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genres_1,genres_2
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.51,Action,Adventure
29,Colin Trevorrow,644.0,652.18,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.18,Action,Adventure
26,James Cameron,315.0,658.67,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.67,Drama,Romance
3024,George Lucas,282.0,460.94,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.94,Action,Adventure
3080,Steven Spielberg,215.0,434.95,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.45,Family,Sci-Fi

In [28]:
# Write your code for grouping the dataframe here
movies_by_segment=movies.groupby(['genres_1','genres_2'])
movies_by_segment.first()

                                          director_name  \
genres_1  genres_2
Action    Adventure                       James Cameron
          Animation                          Kyle Balda
          Biography                      Clint Eastwood
          Comedy                           Martin Brest
          Crime                       Christopher Nolan
          Drama                              Tony Scott
          Family                         Lana Wachowski
          Fantasy                         Chuck Russell
          Horror                         James DeMonaco
          Mystery                       Paul Greengrass
          Romance      Florian Henckel von Donnersmarck
          Sci-Fi                         Lana Wachowski
          Sport                  Preston A. Whitmore II
          Thriller                    Christopher Nolan
          War                           Jonathan Mostow
          Western                          Les Mayfield
Adventure Animation                        Roger Allers
          Biography                        Chris Kentis
          Comedy                        Robert Zemeckis
          Crime                             Henry Joost
          Documentary             Jean-Jacques Mantello
          Drama                               Gary Ross
          Family                         Chris Columbus
          Fantasy                         Peter Jackson
          Horror                         Jeannot Szwarc
          Mystery                           Neil Burger
          Sci-Fi                       Francis Lawrence
          War                             Sam Peckinpah
Animation Biography                          Ari Folman
          Comedy                          Pierre Coffin
...                                                 ...
Drama     Family                        Kenneth Branagh
          Fantasy                          Jerry Zucker
          History                        Victor Fleming
          Horror                       Francis Lawrence
          Music                             Adrian Lyne
          Musical                            Tom Hooper
          Mystery                    M. Night Shyamalan
          Romance                         James Cameron
          Sci-Fi                     M. Night Shyamalan
          Sport                        John G. Avildsen
          Thriller                           Rob Reiner
          War                              Oliver Stone
          Western                        Clint Eastwood
Family    Fantasy                        Emile Ardolino
          Music                           Sean McNamara
          Sci-Fi                       Steven Spielberg
Fantasy   Horror                     Alejandro AmenÃ¡bar
          Mystery                         Cameron Crowe
          Romance                            Tim Burton
          Thriller                    Timur Bekmambetov
Horror    Musical                   Darren Lynn Bousman
          Mystery                             James Wan
          Sci-Fi                           Ridley Scott
          Thriller                   M. Night Shyamalan
Musical   Romance                        Randal Kleiser
Mystery   Romance                        Brian De Palma
          Sci-Fi                            J.J. Abrams
          Thriller                           Ron Howard
Romance   Sci-Fi                           George Nolfi
Sci-Fi    Thriller                          John Badham

                       num_critic_for_reviews   gross  \
genres_1  genres_2
Action    Adventure                     723.0  760.51
          Animation                     308.0  336.03
          Biography                     490.0  350.12
          Comedy                         94.0  234.76
          Crime                         645.0  533.32
          Drama                         173.0  176.78
          Family                        284.0   43.93
          Fantasy                       131.0   44.79
          Horror                        165.0   78.85
          Mystery                       329.0  227.14
          Romance                       321.0   67.63
          Sci-Fi                        275.0  281.49
          Sport                          25.0    7.01
          Thriller                      813.0  448.13
          War                           178.0   77.09
          Western                        44.0   13.26
Adventure Animation                     186.0  422.78
          Biography                     235.0   30.50
          Comedy                        198.0  210.61
          Crime                          86.0   28.88
          Documentary                     9.0    7.52
          Drama                         673.0  408.00
          Family                        258.0  317.56
          Fantasy                       645.0  303.00
          Horror                         75.0  102.92
          Mystery                       459.0  150.83
          Sci-Fi                        502.0  424.65
          War                            53.0    0.01
Animation Biography                     231.0    2.28
          Comedy                        306.0  368.05
...                                       ...     ...
Drama     Family                        343.0  201.15
          Fantasy                        77.0  217.63
          History                       157.0  198.66
          Horror                        323.0  256.39
          Music                          51.0   94.90
          Musical                       488.0  148.78
          Mystery                       234.0  293.50
          Romance                       315.0  658.67
          Sci-Fi                        208.0  227.97
          Sport                         141.0  117.24
          Thriller                       81.0  141.34
          War                           120.0  137.96
          Western                       131.0  101.16
Family    Fantasy                        10.0    2.12
          Music                          46.0   10.41
          Sci-Fi                        215.0  434.95
Fantasy   Horror                        239.0   96.47
          Mystery                       153.0  100.61
          Romance                       111.0   56.36
          Thriller                      232.0    1.49
Horror    Musical                       147.0    0.14
          Mystery                       511.0  137.39
          Sci-Fi                        392.0   78.90
          Thriller                      371.0   65.07
Musical   Romance                       124.0  181.36
Mystery   Romance                       121.0   31.90
          Sci-Fi                        539.0  126.98
          Thriller                      294.0  217.54
Romance   Sci-Fi                        413.0   62.45
Sci-Fi    Thriller                       84.0   79.57

                                                                  genres  \
genres_1  genres_2
Action    Adventure                      Action|Adventure|Fantasy|Sci-Fi
          Animation                Action|Animation|Comedy|Family|Sci-Fi
          Biography          Action|Biography|Drama|History|Thriller|War
          Comedy                                     Action|Comedy|Crime
          Crime                              Action|Crime|Drama|Thriller
          Drama                                     Action|Drama|Romance
          Family                                     Action|Family|Sport
          Fantasy                         Action|Fantasy|Horror|Thriller
          Horror                           Action|Horror|Sci-Fi|Thriller
          Mystery                                Action|Mystery|Thriller
          Romance                                Action|Romance|Thriller
          Sci-Fi                                           Action|Sci-Fi
          Sport                                             Action|Sport
          Thriller                                       Action|Thriller
          War                                                 Action|War
          Western                                         Action|Western
Adventure Animation             Adventure|Animation|Drama|Family|Musical
          Biography            Adventure|Biography|Drama|Horror|Thriller
          Comedy                                 Adventure|Comedy|Sci-Fi
          Crime                  Adventure|Crime|Mystery|Sci-Fi|Thriller
          Documentary                        Adventure|Documentary|Short
          Drama                          Adventure|Drama|Sci-Fi|Thriller
          Family                                Adventure|Family|Fantasy
          Fantasy                                      Adventure|Fantasy
          Horror                               Adventure|Horror|Thriller
          Mystery                               Adventure|Mystery|Sci-Fi
          Sci-Fi                               Adventure|Sci-Fi|Thriller
          War                                      Adventure|War|Western
Animation Biography    Animation|Biography|Documentary|Drama|History|War
          Comedy                          Animation|Comedy|Family|Sci-Fi
...                                                                  ...
Drama     Family                            Drama|Family|Fantasy|Romance
          Fantasy                         Drama|Fantasy|Romance|Thriller
          History                              Drama|History|Romance|War
          Horror                                     Drama|Horror|Sci-Fi
          Music                                      Drama|Music|Romance
          Musical                                  Drama|Musical|Romance
          Mystery                                 Drama|Mystery|Thriller
          Romance                                          Drama|Romance
          Sci-Fi                                   Drama|Sci-Fi|Thriller
          Sport                                              Drama|Sport
          Thriller                                        Drama|Thriller
          War                                                  Drama|War
          Western                                          Drama|Western
Family    Fantasy                                   Family|Fantasy|Music
          Music                                     Family|Music|Romance
          Sci-Fi                                           Family|Sci-Fi
Fantasy   Horror                                 Fantasy|Horror|Thriller
          Mystery                Fantasy|Mystery|Romance|Sci-Fi|Thriller
          Romance                                        Fantasy|Romance
          Thriller                                      Fantasy|Thriller
Horror    Musical                                  Horror|Musical|Sci-Fi
          Mystery                                Horror|Mystery|Thriller
          Sci-Fi                                           Horror|Sci-Fi
          Thriller                                       Horror|Thriller
Musical   Romance                                        Musical|Romance
Mystery   Romance                               Mystery|Romance|Thriller
          Sci-Fi                                 Mystery|Sci-Fi|Thriller
          Thriller                                      Mystery|Thriller
Romance   Sci-Fi                                 Romance|Sci-Fi|Thriller
Sci-Fi    Thriller                                       Sci-Fi|Thriller

                                actor_1_name  \
genres_1  genres_2
Action    Adventure              CCH Pounder
          Animation             Steve Carell
          Biography           Bradley Cooper
          Comedy              Judge Reinhold
          Crime               Christian Bale
          Drama                   Tom Cruise
          Family                Scott Porter
          Fantasy                 John Saxon
          Horror                Frank Grillo
          Mystery                 Matt Damon
          Romance                Johnny Depp
          Sci-Fi               Steve Bastoni
          Sport              Wesley Jonathan
          Thriller                 Tom Hardy
          War            Matthew McConaughey
          Western              Gregory Smith
Adventure Animation        Matthew Broderick
          Biography           Blanchard Ryan
          Comedy                Lea Thompson
          Crime                 Samira Wiley
          Documentary     Charlotte Rampling
          Drama            Jennifer Lawrence
          Family            Daniel Radcliffe
          Fantasy               Aidan Turner
          Horror                Roy Scheider
          Mystery               Kate Winslet
          Sci-Fi           Jennifer Lawrence
          War                   James Coburn
Animation Biography               Ari Folman
          Comedy                Steve Carell
...                                      ...
Drama     Family               Hayley Atwell
          Fantasy                 Demi Moore
          History            Hattie McDaniel
          Horror                  Will Smith
          Music                Michael Nouri
          Musical               Hugh Jackman
          Mystery               Bruce Willis
          Romance          Leonardo DiCaprio
          Sci-Fi                 Rory Culkin
          Sport           Sylvester Stallone
          Thriller                Tom Cruise
          War                    Johnny Depp
          Western             Clint Eastwood
Family    Fantasy              Darci Kistler
          Music                 Oliver James
          Sci-Fi                Henry Thomas
Fantasy   Horror           Fionnula Flanagan
          Mystery                 Tom Cruise
          Romance                Johnny Depp
          Thriller     Konstantin Khabenskiy
Horror    Musical             Alexa PenaVega
          Mystery              Mackenzie Foy
          Sci-Fi                Tom Skerritt
          Thriller               Ocean James
Musical   Romance         Olivia Newton-John
Mystery   Romance            Angie Dickinson
          Sci-Fi               Joel Courtney
          Thriller                 Tom Hanks
Romance   Sci-Fi                  Matt Damon
Sci-Fi    Thriller         Matthew Broderick

                                                        movie_title  \
genres_1  genres_2
Action    Adventure                                         AvatarÂ
          Animation                                        MinionsÂ
          Biography                                American SniperÂ
          Comedy                                 Beverly Hills CopÂ
          Crime                                    The Dark KnightÂ
          Drama                                            Top GunÂ
          Family                                       Speed RacerÂ
          Fantasy      A Nightmare on Elm Street 3: Dream WarriorsÂ
          Horror                          The Purge: Election YearÂ
          Mystery                             The Bourne UltimatumÂ
          Romance                                      The TouristÂ
          Sci-Fi                               The Matrix ReloadedÂ
          Sport                                          CrossoverÂ
          Thriller                           The Dark Knight RisesÂ
          War                                                U-571Â
          Western                                 American OutlawsÂ
Adventure Animation                                  The Lion KingÂ
          Biography                                     Open WaterÂ
          Comedy                                Back to the FutureÂ
          Crime                                              NerveÂ
          Documentary  Dolphins and Whales 3D: Tribes of the OceanÂ
          Drama                                   The Hunger GamesÂ
          Family             Harry Potter and the Sorcerer's StoneÂ
          Fantasy                The Hobbit: An Unexpected JourneyÂ
          Horror                                            Jaws 2Â
          Mystery                                        DivergentÂ
          Sci-Fi                   The Hunger Games: Catching FireÂ
          War                                         Major DundeeÂ
Animation Biography                              Waltz with BashirÂ
          Comedy                                   Despicable Me 2Â
...                                                             ...
Drama     Family                                        CinderellaÂ
          Fantasy                                            GhostÂ
          History                               Gone with the WindÂ
          Horror                                       I Am LegendÂ
          Music                                         FlashdanceÂ
          Musical                                   Les MisÃ©rablesÂ
          Mystery                                  The Sixth SenseÂ
          Romance                                          TitanicÂ
          Sci-Fi                                             SignsÂ
          Sport                                              RockyÂ
          Thriller                                  A Few Good MenÂ
          War                                              PlatoonÂ
          Western                                       UnforgivenÂ
Family    Fantasy                                   The NutcrackerÂ
          Music                                   Raise Your VoiceÂ
          Sci-Fi                        E.T. the Extra-TerrestrialÂ
Fantasy   Horror                                        The OthersÂ
          Mystery                                      Vanilla SkyÂ
          Romance                              Edward ScissorhandsÂ
          Thriller                                     Night WatchÂ
Horror    Musical                          Repo! The Genetic OperaÂ
          Mystery                                    The ConjuringÂ
          Sci-Fi                                             AlienÂ
          Thriller                                       The VisitÂ
Musical   Romance                                           GreaseÂ
Mystery   Romance                                  Dressed to KillÂ
          Sci-Fi                                           Super 8Â
          Thriller                               The Da Vinci CodeÂ
Romance   Sci-Fi                             The Adjustment BureauÂ
Sci-Fi    Thriller                                        WarGamesÂ

                       num_voted_users  num_user_for_reviews language  budget  \
genres_1  genres_2
Action    Adventure             886204                3054.0  English  237.00
          Animation             142403                 275.0  English   74.00
          Biography             325264                 916.0  English   58.80
          Comedy                126464                 175.0  English   14.00
          Crime                1676169                4667.0  English  185.00
          Drama                 219171                 388.0  English   15.00
          Family                 57873                 414.0  English  120.00
          Fantasy                49820                 311.0  English    4.50
          Horror                 17596                  94.0  English   10.00
          Mystery               491077                 820.0  English  110.00
          Romance               176598                 374.0  English  100.00
          Sci-Fi                421818                2789.0  English  150.00
          Sport                   8707                  36.0  English    5.60
          Thriller             1144337                2701.0  English  250.00
          War                    65297                 602.0  English   62.00
          Western                12077                 162.0  English   35.00
Adventure Animation             644348                 656.0  English   45.00
          Biography              42256                 916.0  English    0.50

In [29]:
# Write your code for getting the 5 most popular combo of genres here
#PopGenre = 
movies_by_segment.mean().sort_values(by='gross',ascending=False).head(5)

                     num_critic_for_reviews       gross  num_voted_users  \
genres_1  genres_2
Family    Sci-Fi                 215.000000  434.950000    281842.000000
Adventure Sci-Fi                 344.375000  228.628750    290322.500000
          Animation              170.017391  115.949043    137183.539130
          Family                 195.580645  110.941613    150473.290323
Action    Adventure              222.283208  107.880727    179287.516291

                     num_user_for_reviews      budget   title_year  \
genres_1  genres_2
Family    Sci-Fi               515.000000   10.500000  1982.000000
Adventure Sci-Fi               915.500000  104.500000  2007.750000
          Animation            241.652174  106.353913  2006.339130
          Family               492.806452   94.897742  2003.096774
Action    Adventure            577.330827   98.147920  2002.092732

                     imdb_score  movie_facebook_likes      Profit
genres_1  genres_2
Family    Sci-Fi       7.900000          34000.000000  424.450000
Adventure Sci-Fi       6.837500          29125.000000  124.128750
          Animation    6.644348           8332.304348    9.595130
          Family       6.474194          11220.419355   16.043871
Action    Adventure    6.357143          15132.887218    9.732807

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [30]:
# Write your code for creating three new dataframes here
# Include all movies in which Meryl_Streep is the lead
Meryl_Streep = movies[movies.actor_1_name=='Meryl Streep']
Meryl_Streep.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genres_1,genres_2
1408,David Frankel,208.0,124.73,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.73,Comedy,Drama
1575,Sydney Pollack,66.0,87.10,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.10,Biography,Drama
1204,Nora Ephron,252.0,94.13,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.13,Biography,Drama
1618,David Frankel,234.0,63.54,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.54,Comedy,Drama
410,Nancy Meyers,187.0,112.70,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.70,Comedy,Drama

In [31]:
# Include all movies in which Leo_Caprio is the lead
Leo_Caprio = movies[movies.actor_1_name=='Leonardo DiCaprio']
Leo_Caprio.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genres_1,genres_2
26,James Cameron,315.0,658.67,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.67,Drama,Romance
97,Christopher Nolan,642.0,292.57,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.57,Action,Adventure
911,Steven Spielberg,194.0,164.44,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,52.0,2002.0,8.0,15000,112.44,Biography,Crime
296,Quentin Tarantino,765.0,162.80,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,100.0,2012.0,8.5,199000,62.80,Drama,Western
179,Alejandro G. IÃ±Ã¡rritu,556.0,183.64,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,135.0,2015.0,8.1,190000,48.64,Adventure,Drama

In [32]:
# Include all movies in which Brad_Pitt is the lead
Brad_Pitt = movies[movies.actor_1_name=='Brad Pitt']
Brad_Pitt.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genres_1,genres_2
400,Steven Soderbergh,186.0,183.41,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.41,Crime,Thriller
255,Doug Liman,233.0,186.34,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,120.0,2005.0,6.5,0,66.34,Action,Comedy
940,Neil Jordan,120.0,105.26,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,60.0,1994.0,7.6,11000,45.26,Drama,Fantasy
470,David Ayer,406.0,85.71,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,68.0,2014.0,7.6,82000,17.71,Action,Drama
254,Steven Soderbergh,198.0,125.53,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,110.0,2004.0,6.4,0,15.53,Crime,Thriller

In [33]:
# Write your code for combining the three dataframes here
combinded=pd.concat([Meryl_Streep,Leo_Caprio,Brad_Pitt],axis=0)
combinded.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genres_1,genres_2
1408,David Frankel,208.0,124.73,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.73,Comedy,Drama
1575,Sydney Pollack,66.0,87.10,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,31.0,1985.0,7.2,0,56.10,Biography,Drama
1204,Nora Ephron,252.0,94.13,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,40.0,2009.0,7.0,13000,54.13,Biography,Drama
1618,David Frankel,234.0,63.54,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,30.0,2012.0,6.3,0,33.54,Comedy,Drama
410,Nancy Meyers,187.0,112.70,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,85.0,2009.0,6.6,0,27.70,Comedy,Drama

In [34]:
combinded['actor_1_name'].value_counts()

Leonardo DiCaprio    20
Brad Pitt            17
Meryl Streep         11
Name: actor_1_name, dtype: int64

In [35]:
# Write your code for grouping the combined dataframe here
df_actors=combinded.groupby('actor_1_name')
df_actors.first()

,director_name,num_critic_for_reviews,gross,genres,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,Profit,genres_1,genres_2
actor_1_name,,,,,,,,,,,,,,,
Brad Pitt,Steven Soderbergh,186.0,183.41,Crime|Thriller,Ocean's Eleven,402645,845.0,English,85.0,2001.0,7.8,0,98.41,Crime,Thriller
Leonardo DiCaprio,James Cameron,315.0,658.67,Drama|Romance,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.67,Drama,Romance
Meryl Streep,David Frankel,208.0,124.73,Comedy|Drama|Romance,The Devil Wears Prada,286178,631.0,English,35.0,2006.0,6.8,0,89.73,Comedy,Drama

In [36]:
# Write the code for finding the mean of critic reviews and audience reviews here
df_actors.mean().sort_values(by='num_critic_for_reviews',ascending=False)

,num_critic_for_reviews,gross,num_voted_users,num_user_for_reviews,budget,title_year,imdb_score,movie_facebook_likes,Profit
actor_1_name,,,,,,,,,
Leonardo DiCaprio,322.200000,124.789000,445911.200000,922.550000,81.325000,2005.100000,7.505000,49050.000000,43.464000
Brad Pitt,245.000000,66.321176,283583.823529,742.352941,69.294118,2004.352941,7.152941,14051.764706,-2.972941
Meryl Streep,181.454545,59.920909,73545.545455,297.181818,34.454545,2003.545455,6.745455,2934.090909,25.466364

In [37]:
df_actors.mean().sort_values(by='num_user_for_reviews',ascending=False)

,num_critic_for_reviews,gross,num_voted_users,num_user_for_reviews,budget,title_year,imdb_score,movie_facebook_likes,Profit
actor_1_name,,,,,,,,,
Leonardo DiCaprio,322.200000,124.789000,445911.200000,922.550000,81.325000,2005.100000,7.505000,49050.000000,43.464000
Brad Pitt,245.000000,66.321176,283583.823529,742.352941,69.294118,2004.352941,7.152941,14051.764706,-2.972941
Meryl Streep,181.454545,59.920909,73545.545455,297.181818,34.454545,2003.545455,6.745455,2934.090909,25.466364

**Checkpoint 6:** `Leonardo` has aced both the lists!